In [1]:
import logging
from prepare_data import HCDRLoader

logging.basicConfig(level=logging.DEBUG, format='%(asctime)s - %(levelname)s - %(message)s')

ImportError: cannot import name 'HCDRLoader'

In [ ]:
def _cat_data(df):
    df_clean = df.copy()

    # detect columns with dtype 'object'
    cols = df.columns[df.dtypes == 'object']

    # fill na values with 'Unspecified'
    cat_na_count = df_clean[cols].isna().sum(axis=0)
    cat_na_map = {cat: 'Unspecified' for cat in cat_na_count[cat_na_count > 0].index}
    df_clean = df_clean.fillna(value=cat_na_map)

    # convert columns to categorical
    cat_labels = {}
    for cat_col in cols:
        cat_labels[cat_col] = df_clean[cat_col].unique()
        df_clean[cat_col] = pd.Categorical(df_clean[cat_col], categories=cat_labels[cat_col])

    return df_clean

def _cat_data_dummies(df):
    df_clean = df.copy()

    # convert categorical columns to Categorical dtype
    df_clean = _cat_data(df_clean)

    # convert Categorical columns to dummy columns
    df_clean = pd.get_dummies(df_clean)

    # return dataframe with dummy columns
    return df_clean

In [12]:
loader = HCDRLoader()
app_ix = loader.applications_train_index()

2018-08-02 23:51:30,943 - DEBUG - Initializing data loader
2018-08-02 23:51:30,957 - DEBUG - Reading application_train.csv...
2018-08-02 23:51:39,731 - DEBUG - Finished reading application_train.csv
2018-08-02 23:51:39,732 - DEBUG - Loading bureau data...
2018-08-02 23:51:49,613 - DEBUG - Loading previous application data...
2018-08-02 23:52:34,782 - DEBUG - Done

In [13]:
from sklearn.model_selection import KFold

kf = KFold(n_splits=2, shuffle=True)
for fold_indexes in kf.split(app_ix):
    pass
# load training and validation data
data_train, target_train, data_val, target_val = loader.load_train_val(fold_indexes[0], fold_indexes[1])

2018-08-02 23:52:34,845 - DEBUG - Preparing applications data...
2018-08-02 23:52:37,525 - DEBUG - Performing soft impute on current home info...
2018-08-02 23:52:43,602 - DEBUG - Running PCA on current home info...
2018-08-02 23:52:45,166 - DEBUG - Performing linear regression on goods price and annuity amount...
/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/scipy/linalg/basic.py:1226: RuntimeWarning: internal gelsd driver lwork query error, required iwork dimension not returned. This is likely the result of LAPACK bug 0038, fixed in LAPACK 3.2.2 (released July 21, 2010). Falling back to 'gelss' driver.
  warnings.warn(mesg, RuntimeWarning)
2018-08-02 23:52:46,393 - DEBUG - Preparing applications data...
2018-08-02 23:52:48,753 - DEBUG - Performing soft impute on current home info...
2018-08-02 23:52:54,981 - DEBUG - Running PCA on current home info...
2018-08-02 23:52:55,567 - DEBUG - Performing linear regression on goods price and annuity amount...
2018-08-02 23:52:55,635 - DEBUG - Collating training data...
2018-08-02 23:53:00,058 - DEBUG - Collating validation data...
2018-08-02 23:53:04,835 - DEBUG - Scaling train and validation data...
2018-08-02 23:53:07,631 - DEBUG - Done

In [7]:
cc_data_train = loader.read_credit_card_balance(app_ix.values[fold_indexes[0]])
cc_data_val = loader.read_credit_card_balance(app_ix.values[fold_indexes[1]])

2018-07-06 21:27:08,058 - DEBUG - Reading credit card balance file...
2018-07-06 21:27:28,231 - DEBUG - Preparing credit card balance data...
2018-07-06 21:29:09,656 - DEBUG - Sparsifying...
2018-07-06 21:29:50,749 - DEBUG - Done
2018-07-06 21:29:51,036 - DEBUG - Reading credit card balance file...
2018-07-06 21:30:10,979 - DEBUG - Preparing credit card balance data...
2018-07-06 21:31:53,394 - DEBUG - Sparsifying...
2018-07-06 21:32:36,727 - DEBUG - Done

In [8]:
cc_data_train.shape[0], cc_data_train.shape[1]/100, 100

(153756, 26.0, 100)

### bureau_balance.csv

In [1]:
import pandas as pd
import numpy as np

In [2]:
bureau_balance = pd.read_csv('data/bureau_balance.csv')

In [3]:
def _cat_data(df):
    df_clean = df.copy()

    # detect columns with dtype 'object'
    cols = df.columns[df.dtypes == 'object']

    # fill na values with 'Unspecified'
    cat_na_count = df_clean[cols].isna().sum(axis=0)
    cat_na_map = {cat: 'Unspecified' for cat in cat_na_count[cat_na_count > 0].index}
    df_clean = df_clean.fillna(value=cat_na_map)

    # convert columns to categorical
    cat_labels = {}
    for cat_col in cols:
        cat_labels[cat_col] = df_clean[cat_col].unique()
        df_clean[cat_col] = pd.Categorical(df_clean[cat_col], categories=cat_labels[cat_col])

    return df_clean

def _cat_data_dummies(df):
    df_clean = df.copy()

    # convert categorical columns to Categorical dtype
    df_clean = _cat_data(df_clean)

    # convert Categorical columns to dummy columns
    df_clean = pd.get_dummies(df_clean)

    # return dataframe with dummy columns
    return df_clean

In [4]:
bureau_balance.head()

   SK_ID_BUREAU  MONTHS_BALANCE STATUS
0       5715448               0      C
1       5715448              -1      C
2       5715448              -2      C
3       5715448              -3      C
4       5715448              -4      C

In [5]:
bureau_balance.min(axis=0)

SK_ID_BUREAU      5001709.0
MONTHS_BALANCE        -96.0
STATUS                  0.0
dtype: float64

In [6]:
bureau = pd.read_csv('data/bureau.csv')
id_xref = bureau[['SK_ID_CURR', 'SK_ID_BUREAU']]

In [7]:
bureau_balance = bureau_balance.merge(id_xref)

In [8]:
bureau_balance = _cat_data_dummies(bureau_balance).drop(['SK_ID_BUREAU'], axis=1)

In [14]:
sk_ids = None

if sk_ids is None:
    sk_ids = app_ix.values
bureau_balance = bureau_balance[bureau_balance['SK_ID_CURR'].isin(sk_ids)]

In [15]:
# fill missing id values
missing_ids = sk_ids[~np.isin(sk_ids, bureau_balance['SK_ID_CURR'].unique())]
missing_df = pd.DataFrame({'SK_ID_CURR': missing_ids})
missing_df['MONTHS_BALANCE'] = -1

In [16]:
_bureau_tmax = 25

bureau_summary = (bureau_balance
                  .append(missing_df)
                  .fillna(0)
                  .groupby(['SK_ID_CURR', 'MONTHS_BALANCE']).sum()
                  .unstack(level=0).reindex(np.arange(-_bureau_tmax, 0)).stack(dropna=False)
                  .swaplevel(0, 1).sort_index().unstack())

In [17]:
bureau_summary.head()

               STATUS_0                                              ...   \
MONTHS_BALANCE      -25  -24  -23  -22  -21  -20  -19  -18  -17  -16 ...
SK_ID_CURR                                                           ...
100002              2.0  1.0  3.0  1.0  2.0  0.0  1.0  2.0  1.0  0.0 ...
100003              NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN ...
100004              NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN ...
100006              NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN ...
100007              NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN ...

               STATUS_X
MONTHS_BALANCE      -10  -9   -8   -7   -6   -5   -4   -3   -2   -1
SK_ID_CURR
100002              0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  1.0  0.0
100003              NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  0.0
100004              NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  0.0
100006              NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  0.0
100007              NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  0.0

[5 rows x 200 columns]

### Bureau Balance Summary

In [2]:
import pandas as pd
import numpy as np

In [3]:
bureau_balance = pd.read_csv('data/bureau_balance.csv')
bureau = pd.read_csv('data/bureau.csv')
id_xref = bureau[['SK_ID_CURR', 'SK_ID_BUREAU']]

In [4]:
def _cat_data(df):
    df_clean = df.copy()

    # detect columns with dtype 'object'
    cols = df.columns[df.dtypes == 'object']

    # fill na values with 'Unspecified'
    cat_na_count = df_clean[cols].isna().sum(axis=0)
    cat_na_map = {cat: 'Unspecified' for cat in cat_na_count[cat_na_count > 0].index}
    df_clean = df_clean.fillna(value=cat_na_map)

    # convert columns to categorical
    cat_labels = {}
    for cat_col in cols:
        cat_labels[cat_col] = df_clean[cat_col].unique()
        df_clean[cat_col] = pd.Categorical(df_clean[cat_col], categories=cat_labels[cat_col])

    return df_clean

def _cat_data_dummies(df):
    df_clean = df.copy()

    # convert categorical columns to Categorical dtype
    df_clean = _cat_data(df_clean)

    # convert Categorical columns to dummy columns
    df_clean = pd.get_dummies(df_clean)

    # return dataframe with dummy columns
    return df_clean

In [5]:
bureau_balance.head()

   SK_ID_BUREAU  MONTHS_BALANCE STATUS
0       5715448               0      C
1       5715448              -1      C
2       5715448              -2      C
3       5715448              -3      C
4       5715448              -4      C

In [6]:
bureau_balance = _cat_data_dummies(bureau_balance)

In [8]:
bureau_balance.head()

,SK_ID_BUREAU,MONTHS_BALANCE,STATUS_C,STATUS_0,STATUS_X,STATUS_1,STATUS_2,STATUS_3,STATUS_5,STATUS_4
0,5715448,0,1,0,0,0,0,0,0,0
1,5715448,-1,1,0,0,0,0,0,0,0
2,5715448,-2,1,0,0,0,0,0,0,0
3,5715448,-3,1,0,0,0,0,0,0,0
4,5715448,-4,1,0,0,0,0,0,0,0

### POS Cash

In [18]:
import pandas as pd
import numpy as np

In [19]:
pos_cash = pd.read_csv('data/POS_CASH_balance.csv')

In [20]:
bureau = pd.read_csv('data/bureau.csv')
id_xref = bureau[['SK_ID_CURR', 'SK_ID_BUREAU']]

In [21]:
pos_cash = pos_cash.merge(id_xref)

In [22]:
pos_cash.head()

,SK_ID_PREV,SK_ID_CURR,MONTHS_BALANCE,CNT_INSTALMENT,CNT_INSTALMENT_FUTURE,NAME_CONTRACT_STATUS,SK_DPD,SK_DPD_DEF,SK_ID_BUREAU
0,1803195,182943,-31,48.0,45.0,Active,0,0,5227355
1,1803195,182943,-31,48.0,45.0,Active,0,0,5227356
2,1803195,182943,-31,48.0,45.0,Active,0,0,5227357
3,1803195,182943,-31,48.0,45.0,Active,0,0,5227353
4,1803195,182943,-31,48.0,45.0,Active,0,0,5227354

In [23]:
pos_cash = _cat_data_dummies(pos_cash).drop(['SK_ID_BUREAU', 'SK_ID_PREV'], axis=1)

In [24]:
sk_ids = None

if sk_ids is None:
    sk_ids = app_ix.values
pos_cash = pos_cash[pos_cash['SK_ID_CURR'].isin(sk_ids)]

In [25]:
# fill missing id values
missing_ids = sk_ids[~np.isin(sk_ids, pos_cash['SK_ID_CURR'].unique())]
missing_df = pd.DataFrame({'SK_ID_CURR': missing_ids})
missing_df['MONTHS_BALANCE'] = -1

In [26]:
_pos_tmax = 25

pos_cash_summary = (pos_cash
                    .append(missing_df)
                    .fillna(0)
                    .groupby(['SK_ID_CURR', 'MONTHS_BALANCE']).sum()
                    .unstack(level=0).reindex(np.arange(-_pos_tmax, 0)).stack(dropna=False)
                    .swaplevel(0, 1).sort_index().unstack())

In [27]:
pos_cash_summary

               CNT_INSTALMENT                                             \
MONTHS_BALANCE            -25    -24    -23    -22    -21    -20     -19
SK_ID_CURR
100002                    NaN    NaN    NaN    NaN    NaN    NaN   192.0
100003                   72.0   72.0   72.0   72.0   72.0   48.0    48.0
100004                    8.0    6.0    NaN    NaN    NaN    NaN     NaN
100006                    NaN    NaN    NaN    NaN    NaN    NaN     NaN
100007                   30.0   30.0   18.0   17.0   17.0   17.0    17.0
100008                   30.0   30.0   30.0    NaN   90.0   90.0    90.0
100009                  108.0  108.0  108.0  108.0  108.0    NaN     NaN
100010                   20.0    NaN    NaN    NaN    NaN    NaN     NaN
100011                  120.0  120.0  120.0  120.0  120.0  120.0   120.0
100012                    NaN    NaN    NaN    NaN    NaN    NaN     NaN
100014                   96.0   96.0   96.0   96.0   96.0   96.0    96.0
100015                    NaN    NaN    NaN    NaN    NaN    NaN     NaN
100016                  336.0  336.0  336.0  336.0  336.0  336.0   168.0
100017                    NaN    NaN    NaN    NaN    NaN  144.0   144.0
100018                    NaN    NaN    NaN    NaN    NaN    NaN     NaN
100019                   24.0   14.0    NaN    NaN    NaN    NaN     NaN
100020                    NaN    NaN    NaN    NaN    NaN    NaN     NaN
100021                    NaN    NaN    NaN    NaN    NaN    NaN     NaN
100022                    NaN    NaN    NaN    NaN    NaN    NaN     NaN
100023                    NaN    NaN    NaN    NaN    NaN    NaN     NaN
100024                    NaN    NaN    NaN    NaN    NaN    NaN     NaN
100025                   18.0   18.0   18.0    7.0    NaN    NaN     NaN
100026                    NaN    NaN    NaN    NaN    NaN    NaN     NaN
100027                   30.0   30.0   30.0   30.0   30.0   30.0    30.0
100029                    NaN    NaN    NaN    NaN    NaN    NaN     NaN
100030                    NaN    NaN    NaN    NaN    NaN    NaN     NaN
100031                    NaN    NaN    NaN    NaN    NaN    NaN     NaN
100032                    NaN    NaN    NaN    NaN    NaN    NaN     NaN
100033                   12.0   12.0   12.0   12.0   12.0   12.0    12.0
100034                    NaN    NaN    NaN    NaN    NaN    NaN     NaN
...                       ...    ...    ...    ...    ...    ...     ...
456225                  540.0  540.0  540.0  540.0  540.0  540.0   540.0
456226                    NaN    NaN    NaN    NaN    NaN   24.0    24.0
456227                    NaN    NaN    NaN   48.0   48.0   48.0    48.0
456228                    NaN    NaN    NaN    NaN    NaN    NaN     NaN
456229                    NaN    NaN    NaN    NaN    NaN    NaN     NaN
456230                    NaN    NaN    NaN    NaN    NaN    NaN     NaN
456231                   42.0   42.0   42.0  126.0   84.0  224.0   210.0
456232                    NaN    NaN    NaN    NaN   36.0   36.0    36.0
456233                    NaN    NaN    NaN    NaN    NaN    NaN     NaN
456234                    NaN    NaN    NaN    NaN    NaN    NaN     NaN
456235                    NaN    NaN    NaN    NaN    NaN    NaN     NaN
456236                    NaN    NaN    NaN    NaN    NaN    NaN     NaN
456237                   30.0   30.0   30.0   30.0   30.0   30.0    30.0
456238                    NaN    NaN    NaN    NaN    NaN    NaN     NaN
456239                    NaN    NaN    NaN    NaN    NaN    NaN     NaN
456240                   24.0   24.0   48.0   48.0   76.0   76.0    72.0
456241                   60.0   60.0    NaN    NaN    NaN    NaN     NaN
456242                    NaN   12.0   12.0   12.0   12.0   12.0    22.0
456243                    NaN    NaN    NaN    NaN    NaN    NaN     NaN
456244                  828.0  598.0  598.0  552.0  552.0  552.0  1380.0
456245                    NaN    NaN    NaN    NaN    NaN    NaN     NaN
456246                    NaN    NaN    NaN    NaN    NaN    NaN     NaN
456247                    NaN    NaN    NaN  110.0  110.0   22.0    22.0
456248                    NaN    NaN    NaN    NaN    NaN    NaN     NaN
456249                    NaN    NaN    NaN    NaN    NaN    NaN     NaN
456251                    NaN    NaN    NaN    NaN    NaN    NaN     NaN
456252                    NaN    NaN    NaN    NaN    NaN    NaN     NaN
456253                    NaN    NaN    NaN    NaN    NaN    NaN     NaN
456254                    NaN    NaN    NaN    NaN    NaN    NaN     NaN
456255                  528.0  528.0  770.0  660.0  924.0  924.0   924.0

                                      ...  SK_DPD_DEF                      \
MONTHS_BALANCE     -18     -17    -16 ...         -10  -9   -8   -7   -6
SK_ID_CURR                            ...
100002           192.0   192.0  192.0 ...         0.0  0.0  0.0  0.0  0.0
100003            28.0     NaN    NaN ...         NaN  NaN  NaN  NaN  NaN
100004             NaN     NaN    NaN ...         NaN  NaN  NaN  NaN  NaN
100006             NaN     NaN    NaN ...         NaN  NaN  NaN  NaN  NaN
100007            17.0    17.0   17.0 ...         0.0  0.0  0.0  0.0  0.0
100008            90.0    90.0   90.0 ...         0.0  0.0  0.0  0.0  0.0
100009             NaN     NaN    NaN ...         0.0  0.0  0.0  0.0  0.0
100010             NaN     NaN    NaN ...         NaN  NaN  NaN  NaN  NaN
100011           120.0   120.0  120.0 ...         0.0  NaN  NaN  NaN  NaN
100012             NaN     NaN    NaN ...         NaN  NaN  NaN  NaN  NaN
100014            96.0    96.0   96.0 ...         NaN  NaN  NaN  NaN  NaN
100015             NaN     NaN    NaN ...         NaN  NaN  NaN  NaN  NaN
100016           119.0     NaN    NaN ...         NaN  NaN  NaN  NaN  NaN
100017           144.0   144.0  144.0 ...         0.0  0.0  0.0  0.0  0.0
100018             NaN     NaN    NaN ...         NaN  NaN  NaN  NaN  NaN
100019             NaN     NaN    NaN ...         NaN  NaN  NaN  NaN  NaN
100020             NaN     NaN   24.0 ...         0.0  NaN  0.0  0.0  0.0
100021             NaN     NaN    NaN ...         NaN  NaN  NaN  NaN  NaN
100022             NaN     NaN    NaN ...         NaN  NaN  0.0  0.0  0.0
100023             NaN     NaN    NaN ...         NaN  0.0  0.0  0.0  0.0
100024             NaN     NaN    NaN ...         NaN  NaN  NaN  NaN  NaN
100025             NaN     NaN    NaN ...         NaN  NaN  NaN  NaN  NaN
100026             NaN     NaN    NaN ...         NaN  NaN  NaN  NaN  NaN
100027            30.0    30.0   30.0 ...         0.0  0.0  0.0  0.0  0.0
100029             NaN     NaN    NaN ...         0.0  0.0  0.0  0.0  0.0
100030             NaN     NaN    NaN ...         0.0  0.0  0.0  0.0  NaN
100031             NaN     NaN    NaN ...         NaN  NaN  NaN  NaN  NaN
100032             NaN     NaN    NaN ...         NaN  NaN  NaN  NaN  NaN
100033            12.0    12.0   12.0 ...         NaN  NaN  NaN  NaN  NaN
100034             NaN     NaN    NaN ...         NaN  NaN  NaN  NaN  NaN
...                ...     ...    ... ...         ...  ...  ...  ...  ...
456225           540.0   540.0  540.0 ...         0.0  0.0  0.0  0.0  0.0
456226            24.0    24.0    8.0 ...         NaN  NaN  NaN  NaN  NaN
456227            48.0    48.0   48.0 ...         0.0  0.0  0.0  0.0  0.0
456228             NaN     NaN    NaN ...         NaN  NaN  NaN  NaN  NaN
456229             NaN     NaN    NaN ...         NaN  NaN  NaN  NaN  NaN
456230             NaN     NaN    NaN ...         0.0  0.0  0.0  0.0  0.0
456231           210.0   210.0  210.0 ...         0.0  0.0  NaN  NaN  NaN
456232            36.0    36.0   60.0 ...         0.0  0.0  0.0  0.0  0.0
456233             NaN     NaN    NaN ...         0.0  0.0  0.0  0.0  0.0
456234             NaN     NaN    NaN ...         NaN  NaN  NaN  NaN  NaN
456235            72.0    72.0   72.0 ...         0.0  0.0  0.0  0.0  0.0
456236             NaN     NaN    NaN ...         NaN  NaN  NaN  NaN  NaN
456237            30.0    30.0   30.0 ...         0.0  0.0  0.0  0.0  0.0
456238             NaN     NaN    NaN ...         0.0  0.0  0.0  0.0  NaN
456239             NaN     NaN    NaN ...         NaN  NaN  NaN  NaN  NaN
456240            72.0    72.0   72.0 ...         0.0  0.0  0.0  0.0  0.0
456241             NaN     NaN    NaN ...         NaN  0.0  0.0  0.0  0.0
456242            22.0    22.0   22.0 ...         0.0  0.0  0.0  0.0  0.0
456243             NaN     NaN    NaN ...         0.0  0.0  0.0  0.0  0.0
456244          1380.0  1380.0  621.0 ...         NaN  NaN  NaN  NaN  0.0
456245             NaN     NaN    NaN ...         NaN  NaN  NaN  NaN  NaN
456246             NaN     NaN    NaN ...         NaN  NaN  NaN  NaN  NaN
456247             NaN     NaN    NaN ...         NaN  NaN  NaN  NaN  NaN
456248             NaN     NaN    NaN ...         NaN  NaN  NaN  NaN  NaN
456249             NaN     NaN    NaN ...         NaN  NaN  NaN  NaN  NaN
456251             NaN     NaN    NaN ...         NaN  NaN  NaN  NaN  NaN
456252             NaN     NaN    NaN ...         NaN  NaN  NaN  NaN  NaN
456253             NaN     NaN    NaN ...         NaN  NaN  NaN  NaN  NaN
456254             NaN     NaN    NaN ...         0.0  0.0  0.0  0.0  0.0
456255           693.0   693.0  726.0 ...         0.0  0.0  0.0  0.0  0.0


MONTHS_BALANCE  -5   -4   -3   -2   -1
SK_ID_CURR
100002          0.0  0.0  0.0  0.0  0.0
100003          NaN  NaN  NaN  NaN  NaN
100004          NaN  NaN  NaN  NaN  NaN
100006          NaN  NaN  NaN  NaN  0.0
100007          0.0  0.0  0.0  0.0  0.0
100008          0.0  0.0  0.0  0.0  NaN
100009          0.0  0.0  0.0  0.0  0.0
100010          NaN  NaN  NaN  NaN  NaN
100011          NaN  NaN  NaN  NaN  NaN
100012          NaN  NaN  NaN  NaN  0.0
100014          NaN  NaN  0.0  0.0  0.0
100015          NaN  NaN  NaN  NaN  NaN
100016          NaN  NaN  NaN  NaN  NaN
100017          0.0  0.0  0.0  0.0  0.0
100018          NaN  NaN  NaN  NaN  0.0
100019          NaN  NaN  NaN  NaN  NaN
100020          0.0  0.0  0.0  0.0  NaN
100021          NaN  NaN  NaN  NaN  0.0
100022          0.0  0.0  0.0  0.0  NaN
100023          0.0  NaN  NaN  NaN  NaN
100024          NaN  NaN  NaN  NaN  0.0
100025          NaN  NaN  NaN  NaN  NaN
100026          NaN  NaN  NaN  NaN  NaN
100027          0.0  0.0  NaN  NaN  NaN
100029          NaN  NaN  NaN  NaN  NaN
100030          NaN  NaN  NaN  NaN  NaN
100031          NaN  NaN  NaN  NaN  0.0
100032          NaN  NaN  NaN  NaN  NaN
100033          NaN  NaN  NaN  NaN  NaN
100034          NaN  NaN  NaN  NaN  0.0
...             ...  ...  ...  ...  ...
456225          0.0  0.0  0.0  0.0  0.0
456226          NaN  NaN  NaN  NaN  NaN
456227          0.0  0.0  NaN  NaN  NaN
456228          NaN  NaN  NaN  NaN  0.0
456229          NaN  NaN  NaN  NaN  0.0
456230          0.0  0.0  0.0  0.0  0.0
456231          NaN  NaN  NaN  NaN  NaN
456232          0.0  0.0  0.0  0.0  NaN
456233          0.0  0.0  0.0  0.0  0.0
456234          NaN  NaN  NaN  NaN  NaN
456235          0.0  0.0  0.0  0.0  NaN
456236          NaN  NaN  NaN  NaN  NaN
456237          0.0  0.0  0.0  0.0  0.0
456238          NaN  NaN  NaN  NaN  NaN
456239          NaN  NaN  NaN  NaN  NaN
456240          0.0  0.0  0.0  0.0  0.0
456241          0.0  0.0  0.0  0.0  NaN
456242          0.0  0.0  0.0  0.0  0.0
456243          0.0  0.0  0.0  0.0  NaN
456244          0.0  0.0  0.0  0.0  0.0
456245          NaN  NaN  NaN  NaN  0.0
456246          NaN  NaN  NaN  NaN  NaN
456247          NaN  NaN  NaN  NaN  NaN
456248          NaN  NaN  NaN  NaN  0.0
456249          NaN  NaN  NaN  NaN  NaN
456251          NaN  NaN  NaN  NaN  0.0
456252          NaN  NaN  NaN  NaN  0.0
456253          NaN  NaN  NaN  NaN  NaN
456254          0.0  0.0  0.0  0.0  0.0
456255          0.0  0.0  0.0  0.0  NaN

[307511 rows x 325 columns]

### Installments Payments

In [2]:
import pandas as pd
import numpy as np

In [3]:
installments = pd.read_csv('data/installments_payments.csv')

In [4]:
installments.head()

,SK_ID_PREV,SK_ID_CURR,NUM_INSTALMENT_VERSION,NUM_INSTALMENT_NUMBER,DAYS_INSTALMENT,DAYS_ENTRY_PAYMENT,AMT_INSTALMENT,AMT_PAYMENT
0,1054186,161674,1.0,6,-1180.0,-1187.0,6948.360,6948.360
1,1330831,151639,0.0,34,-2156.0,-2156.0,1716.525,1716.525
2,2085231,193053,2.0,1,-63.0,-63.0,25425.000,25425.000
3,2452527,199697,1.0,3,-2418.0,-2426.0,24350.130,24350.130
4,2714724,167756,1.0,2,-1383.0,-1366.0,2165.040,2160.585

In [11]:
installments['DAYS_INSTALMENT'] = pd.to_timedelta(installments['DAYS_INSTALMENT'], unit='D')

In [12]:
installments['DAYS_INSTALMENT'].head()

0   -1180 days
1   -2156 days
2     -63 days
3   -2418 days
4   -1383 days
Name: DAYS_INSTALMENT, dtype: timedelta64[ns]

In [14]:
installments.set_index('DAYS_INSTALMENT', inplace=True)

### Credit Card Balance

In [29]:
import pandas as pd
credit_card_balance = pd.read_csv('data/credit_card_balance.csv')

In [4]:
credit_card_balance.head()

,SK_ID_PREV,SK_ID_CURR,MONTHS_BALANCE,AMT_BALANCE,AMT_CREDIT_LIMIT_ACTUAL,AMT_DRAWINGS_ATM_CURRENT,AMT_DRAWINGS_CURRENT,AMT_DRAWINGS_OTHER_CURRENT,AMT_DRAWINGS_POS_CURRENT,AMT_INST_MIN_REGULARITY,...,AMT_RECIVABLE,AMT_TOTAL_RECEIVABLE,CNT_DRAWINGS_ATM_CURRENT,CNT_DRAWINGS_CURRENT,CNT_DRAWINGS_OTHER_CURRENT,CNT_DRAWINGS_POS_CURRENT,CNT_INSTALMENT_MATURE_CUM,NAME_CONTRACT_STATUS,SK_DPD,SK_DPD_DEF
0,2562384,378907,-6,56.970,135000,0.0,877.5,0.0,877.5,1700.325,...,0.000,0.000,0.0,1,0.0,1.0,35.0,Active,0,0
1,2582071,363914,-1,63975.555,45000,2250.0,2250.0,0.0,0.0,2250.000,...,64875.555,64875.555,1.0,1,0.0,0.0,69.0,Active,0,0
2,1740877,371185,-7,31815.225,450000,0.0,0.0,0.0,0.0,2250.000,...,31460.085,31460.085,0.0,0,0.0,0.0,30.0,Active,0,0
3,1389973,337855,-4,236572.110,225000,2250.0,2250.0,0.0,0.0,11795.760,...,233048.970,233048.970,1.0,1,0.0,0.0,10.0,Active,0,0
4,1891521,126868,-1,453919.455,450000,0.0,11547.0,0.0,11547.0,22924.890,...,453919.455,453919.455,0.0,1,0.0,1.0,101.0,Active,0,0

In [5]:
credit_card_balance.groupby('SK_ID_PREV').count().head()

,SK_ID_CURR,MONTHS_BALANCE,AMT_BALANCE,AMT_CREDIT_LIMIT_ACTUAL,AMT_DRAWINGS_ATM_CURRENT,AMT_DRAWINGS_CURRENT,AMT_DRAWINGS_OTHER_CURRENT,AMT_DRAWINGS_POS_CURRENT,AMT_INST_MIN_REGULARITY,AMT_PAYMENT_CURRENT,...,AMT_RECIVABLE,AMT_TOTAL_RECEIVABLE,CNT_DRAWINGS_ATM_CURRENT,CNT_DRAWINGS_CURRENT,CNT_DRAWINGS_OTHER_CURRENT,CNT_DRAWINGS_POS_CURRENT,CNT_INSTALMENT_MATURE_CUM,NAME_CONTRACT_STATUS,SK_DPD,SK_DPD_DEF
SK_ID_PREV,,,,,,,,,,,,,,,,,,,,,
1000018,5,5,5,5,5,5,5,5,5,5,...,5,5,5,5,5,5,5,5,5,5
1000030,8,8,8,8,7,8,7,7,8,7,...,8,8,7,8,7,7,8,8,8,8
1000031,16,16,16,16,13,16,13,13,16,12,...,16,16,13,16,13,13,16,16,16,16
1000035,5,5,5,5,0,5,0,0,5,0,...,5,5,0,5,0,0,5,5,5,5
1000077,11,11,11,11,0,11,0,0,11,0,...,11,11,0,11,0,0,11,11,11,11

In [6]:
credit_card_balance[credit_card_balance['SK_ID_PREV'] == 2843476]['MONTHS_BALANCE'].value_counts().max()

1

In [7]:
credit_card_balance.groupby('SK_ID_PREV').count().max()

SK_ID_CURR                    96
MONTHS_BALANCE                96
AMT_BALANCE                   96
AMT_CREDIT_LIMIT_ACTUAL       96
AMT_DRAWINGS_ATM_CURRENT      96
AMT_DRAWINGS_CURRENT          96
AMT_DRAWINGS_OTHER_CURRENT    96
AMT_DRAWINGS_POS_CURRENT      96
AMT_INST_MIN_REGULARITY       96
AMT_PAYMENT_CURRENT           96
AMT_PAYMENT_TOTAL_CURRENT     96
AMT_RECEIVABLE_PRINCIPAL      96
AMT_RECIVABLE                 96
AMT_TOTAL_RECEIVABLE          96
CNT_DRAWINGS_ATM_CURRENT      96
CNT_DRAWINGS_CURRENT          96
CNT_DRAWINGS_OTHER_CURRENT    96
CNT_DRAWINGS_POS_CURRENT      96
CNT_INSTALMENT_MATURE_CUM     96
NAME_CONTRACT_STATUS          96
SK_DPD                        96
SK_DPD_DEF                    96
dtype: int64

In [18]:
cc_ts_summary = credit_card_balance.drop(['SK_ID_PREV'], axis=1).groupby(['SK_ID_CURR', 'MONTHS_BALANCE']).sum().unstack().stack(dropna=False)
cc_ts_summary.head()

                           AMT_BALANCE  AMT_CREDIT_LIMIT_ACTUAL  \
SK_ID_CURR MONTHS_BALANCE
100006     -96                     NaN                      NaN
           -95                     NaN                      NaN
           -94                     NaN                      NaN
           -93                     NaN                      NaN
           -92                     NaN                      NaN

                           AMT_DRAWINGS_ATM_CURRENT  AMT_DRAWINGS_CURRENT  \
SK_ID_CURR MONTHS_BALANCE
100006     -96                                  NaN                   NaN
           -95                                  NaN                   NaN
           -94                                  NaN                   NaN
           -93                                  NaN                   NaN
           -92                                  NaN                   NaN

                           AMT_DRAWINGS_OTHER_CURRENT  \
SK_ID_CURR MONTHS_BALANCE
100006     -96                                    NaN
           -95                                    NaN
           -94                                    NaN
           -93                                    NaN
           -92                                    NaN

                           AMT_DRAWINGS_POS_CURRENT  AMT_INST_MIN_REGULARITY  \
SK_ID_CURR MONTHS_BALANCE
100006     -96                                  NaN                      NaN
           -95                                  NaN                      NaN
           -94                                  NaN                      NaN
           -93                                  NaN                      NaN
           -92                                  NaN                      NaN

                           AMT_PAYMENT_CURRENT  AMT_PAYMENT_TOTAL_CURRENT  \
SK_ID_CURR MONTHS_BALANCE
100006     -96                             NaN                        NaN
           -95                             NaN                        NaN
           -94                             NaN                        NaN
           -93                             NaN                        NaN
           -92                             NaN                        NaN

                           AMT_RECEIVABLE_PRINCIPAL  AMT_RECIVABLE  \
SK_ID_CURR MONTHS_BALANCE
100006     -96                                  NaN            NaN
           -95                                  NaN            NaN
           -94                                  NaN            NaN
           -93                                  NaN            NaN
           -92                                  NaN            NaN

                           AMT_TOTAL_RECEIVABLE  CNT_DRAWINGS_ATM_CURRENT  \
SK_ID_CURR MONTHS_BALANCE
100006     -96                              NaN                       NaN
           -95                              NaN                       NaN
           -94                              NaN                       NaN
           -93                              NaN                       NaN
           -92                              NaN                       NaN

                           CNT_DRAWINGS_CURRENT  CNT_DRAWINGS_OTHER_CURRENT  \
SK_ID_CURR MONTHS_BALANCE
100006     -96                              NaN                         NaN
           -95                              NaN                         NaN
           -94                              NaN                         NaN
           -93                              NaN                         NaN
           -92                              NaN                         NaN

                           CNT_DRAWINGS_POS_CURRENT  \
SK_ID_CURR MONTHS_BALANCE
100006     -96                                  NaN
           -95                                  NaN
           -94                                  NaN
           -93                                  NaN
           -92                                  NaN

                           CNT_INSTALMENT_MATURE_CUM  SK_DPD  SK_DPD_DEF
SK_ID_CURR MONTHS_BALANCE
100006     -96                                   NaN     NaN         NaN
           -95                                   NaN     NaN         NaN
           -94                                   NaN     NaN         NaN
           -93                                   NaN     NaN         NaN
           -92                                   NaN     NaN         NaN

In [19]:
cc_ts_summary.index.get_level_values(cc_ts_summary.index.names[0]).unique().shape, app_ix.values.shape

((103558,), (307511,))

In [ ]:
cc_ts_summary.reindex(app_ix, axis=0, level=0).index#.get_level_values(cc_ts_summary.index.names[0]).unique().shape

In [13]:
missing_ids = app_ix[~app_ix.isin(credit_card_balance['SK_ID_CURR'].unique())].values
missing_ids.shape

(220606,)

In [14]:
missing_df = pd.DataFrame({'SK_ID_CURR': missing_ids})
missing_df['MONTHS_BALANCE'] = -1
missing_df.head()

   SK_ID_CURR  MONTHS_BALANCE
0      100002              -1
1      100003              -1
2      100004              -1
3      100007              -1
4      100008              -1

In [22]:
ignore_ids = credit_card_balance[~credit_card_balance['SK_ID_CURR'].isin(app_ix.values)]['SK_ID_CURR'].unique()
ignore_ids.sort()
ignore_ids

array([100013, 100028, 100042, ..., 456168, 456189, 456250])

In [23]:
credit_card_balance[credit_card_balance['SK_ID_CURR'].isin(app_ix.values)].head()

,SK_ID_PREV,SK_ID_CURR,MONTHS_BALANCE,AMT_BALANCE,AMT_CREDIT_LIMIT_ACTUAL,AMT_DRAWINGS_ATM_CURRENT,AMT_DRAWINGS_CURRENT,AMT_DRAWINGS_OTHER_CURRENT,AMT_DRAWINGS_POS_CURRENT,AMT_INST_MIN_REGULARITY,...,AMT_RECIVABLE,AMT_TOTAL_RECEIVABLE,CNT_DRAWINGS_ATM_CURRENT,CNT_DRAWINGS_CURRENT,CNT_DRAWINGS_OTHER_CURRENT,CNT_DRAWINGS_POS_CURRENT,CNT_INSTALMENT_MATURE_CUM,NAME_CONTRACT_STATUS,SK_DPD,SK_DPD_DEF
1,2582071,363914,-1,63975.555,45000,2250.0,2250.000,0.0,0.000,2250.00,...,64875.555,64875.555,1.0,1,0.0,0.0,69.0,Active,0,0
3,1389973,337855,-4,236572.110,225000,2250.0,2250.000,0.0,0.000,11795.76,...,233048.970,233048.970,1.0,1,0.0,0.0,10.0,Active,0,0
4,1891521,126868,-1,453919.455,450000,0.0,11547.000,0.0,11547.000,22924.89,...,453919.455,453919.455,0.0,1,0.0,1.0,101.0,Active,0,0
8,2181852,367360,-4,291543.075,292500,90000.0,289339.425,0.0,199339.425,130.50,...,286831.575,286831.575,3.0,8,0.0,5.0,3.0,Active,0,0
9,1235299,203885,-5,201261.195,225000,76500.0,111026.700,0.0,34526.700,6338.34,...,197224.695,197224.695,3.0,9,0.0,6.0,38.0,Active,0,0

In [24]:
cc_ts_summary.index.values

array([(100006, -96), (100006, -95), (100006, -94), ..., (456250, -3),
       (456250, -2), (456250, -1)], dtype=object)

In [16]:
sk_ids = app_ix.values[:20]
sk_ids

array([100002, 100003, 100004, 100006, 100007, 100008, 100009, 100010,
       100011, 100012, 100014, 100015, 100016, 100017, 100018, 100019,
       100020, 100021, 100022, 100023])

In [34]:
credit_card_balance['SK_ID_CURR'].sort_values().unique()

array([100006, 100011, 100013, ..., 456247, 456248, 456250])

In [28]:
sk_ids

array([100002, 100003, 100004, 100006, 100007, 100008, 100009, 100010,
       100011, 100012, 100014, 100015, 100016, 100017, 100018, 100019,
       100020, 100021, 100022, 100023])

In [35]:
sk_ids[~np.isin(sk_ids, credit_card_balance['SK_ID_CURR'].unique())]

array([100002, 100003, 100004, 100007, 100008, 100009, 100010, 100012,
       100014, 100015, 100016, 100017, 100018, 100019, 100020, 100022])

In [17]:
missing_ids = app_ix[~app_ix.isin(credit_card_balance['SK_ID_CURR'].unique())].values
missing_ids

array([100002, 100003, 100004, ..., 456253, 456254, 456255])

---

*Variable length*

In [8]:
cc_ts_summary.drop(range(-96, -94), axis=0, level=1).head()

                           AMT_BALANCE  AMT_CREDIT_LIMIT_ACTUAL  \
SK_ID_CURR MONTHS_BALANCE
100006     -94                     NaN                      NaN
           -93                     NaN                      NaN
           -92                     NaN                      NaN
           -91                     NaN                      NaN
           -90                     NaN                      NaN

                           AMT_DRAWINGS_ATM_CURRENT  AMT_DRAWINGS_CURRENT  \
SK_ID_CURR MONTHS_BALANCE
100006     -94                                  NaN                   NaN
           -93                                  NaN                   NaN
           -92                                  NaN                   NaN
           -91                                  NaN                   NaN
           -90                                  NaN                   NaN

                           AMT_DRAWINGS_OTHER_CURRENT  \
SK_ID_CURR MONTHS_BALANCE
100006     -94                                    NaN
           -93                                    NaN
           -92                                    NaN
           -91                                    NaN
           -90                                    NaN

                           AMT_DRAWINGS_POS_CURRENT  AMT_INST_MIN_REGULARITY  \
SK_ID_CURR MONTHS_BALANCE
100006     -94                                  NaN                      NaN
           -93                                  NaN                      NaN
           -92                                  NaN                      NaN
           -91                                  NaN                      NaN
           -90                                  NaN                      NaN

                           AMT_PAYMENT_CURRENT  AMT_PAYMENT_TOTAL_CURRENT  \
SK_ID_CURR MONTHS_BALANCE
100006     -94                             NaN                        NaN
           -93                             NaN                        NaN
           -92                             NaN                        NaN
           -91                             NaN                        NaN
           -90                             NaN                        NaN

                           AMT_RECEIVABLE_PRINCIPAL  AMT_RECIVABLE  \
SK_ID_CURR MONTHS_BALANCE
100006     -94                                  NaN            NaN
           -93                                  NaN            NaN
           -92                                  NaN            NaN
           -91                                  NaN            NaN
           -90                                  NaN            NaN

                           AMT_TOTAL_RECEIVABLE  CNT_DRAWINGS_ATM_CURRENT  \
SK_ID_CURR MONTHS_BALANCE
100006     -94                              NaN                       NaN
           -93                              NaN                       NaN
           -92                              NaN                       NaN
           -91                              NaN                       NaN
           -90                              NaN                       NaN

                           CNT_DRAWINGS_CURRENT  CNT_DRAWINGS_OTHER_CURRENT  \
SK_ID_CURR MONTHS_BALANCE
100006     -94                              NaN                         NaN
           -93                              NaN                         NaN
           -92                              NaN                         NaN
           -91                              NaN                         NaN
           -90                              NaN                         NaN

                           CNT_DRAWINGS_POS_CURRENT  \
SK_ID_CURR MONTHS_BALANCE
100006     -94                                  NaN
           -93                                  NaN
           -92                                  NaN
           -91                                  NaN
           -90                                  NaN

                           CNT_INSTALMENT_MATURE_CUM  SK_DPD  SK_DPD_DEF
SK_ID_CURR MONTHS_BALANCE
100006     -94                                   NaN     NaN         NaN
           -93                                   NaN     NaN         NaN
           -92                                   NaN     NaN         NaN
           -91                                   NaN     NaN         NaN
           -90                                   NaN     NaN         NaN

In [27]:
credit_card_balance.drop(['SK_ID_PREV'], axis=1).groupby(['SK_ID_CURR', 'MONTHS_BALANCE']).sum().unstack(level=0).reindex(np.arange(-100, 0)).stack(dropna=False).swaplevel(0, 1).sort_index().unstack()

               AMT_BALANCE                                                     \
MONTHS_BALANCE        -100 -99  -98  -97         -96         -95         -94
SK_ID_CURR
100006                 NaN  NaN  NaN  NaN         NaN         NaN         NaN
100011                 NaN  NaN  NaN  NaN         NaN         NaN         NaN
100013                 NaN  NaN  NaN  NaN       0.000       0.000       0.000
100021                 NaN  NaN  NaN  NaN         NaN         NaN         NaN
100023                 NaN  NaN  NaN  NaN         NaN         NaN         NaN
100028                 NaN  NaN  NaN  NaN         NaN         NaN         NaN
100036                 NaN  NaN  NaN  NaN         NaN         NaN         NaN
100042                 NaN  NaN  NaN  NaN         NaN         NaN         NaN
100043                 NaN  NaN  NaN  NaN         NaN         NaN         NaN
100047                 NaN  NaN  NaN  NaN         NaN         NaN         NaN
100048                 NaN  NaN  NaN  NaN         NaN         NaN         NaN
100049                 NaN  NaN  NaN  NaN         NaN         NaN         NaN
100050                 NaN  NaN  NaN  NaN         NaN         NaN         NaN
100059                 NaN  NaN  NaN  NaN         NaN         NaN         NaN
100066                 NaN  NaN  NaN  NaN         NaN         NaN         NaN
100067                 NaN  NaN  NaN  NaN         NaN         NaN         NaN
100075                 NaN  NaN  NaN  NaN         NaN         NaN         NaN
100077                 NaN  NaN  NaN  NaN         NaN         NaN         NaN
100082                 NaN  NaN  NaN  NaN         NaN         NaN         NaN
100083                 NaN  NaN  NaN  NaN         NaN         NaN         NaN
100086                 NaN  NaN  NaN  NaN         NaN         NaN         NaN
100090                 NaN  NaN  NaN  NaN         NaN         NaN         NaN
100100                 NaN  NaN  NaN  NaN         NaN         NaN   37714.500
100101                 NaN  NaN  NaN  NaN         NaN         NaN         NaN
100107                 NaN  NaN  NaN  NaN         NaN         NaN         NaN
100109                 NaN  NaN  NaN  NaN         NaN         NaN         NaN
100110                 NaN  NaN  NaN  NaN         NaN         NaN         NaN
100112                 NaN  NaN  NaN  NaN         NaN         NaN         NaN
100114                 NaN  NaN  NaN  NaN         NaN         NaN         NaN
100115                 NaN  NaN  NaN  NaN         NaN         NaN         NaN
...                    ...  ...  ...  ...         ...         ...         ...
456173                 NaN  NaN  NaN  NaN         NaN         NaN         NaN
456178                 NaN  NaN  NaN  NaN         NaN         NaN         NaN
456186                 NaN  NaN  NaN  NaN         NaN         NaN         NaN
456188                 NaN  NaN  NaN  NaN         NaN         NaN         NaN
456189                 NaN  NaN  NaN  NaN         NaN         NaN         NaN
456195                 NaN  NaN  NaN  NaN         NaN         NaN         NaN
456198                 NaN  NaN  NaN  NaN  187321.770  188294.175  184802.400
456199                 NaN  NaN  NaN  NaN         NaN         NaN         NaN
456201                 NaN  NaN  NaN  NaN         NaN         NaN         NaN
456206                 NaN  NaN  NaN  NaN         NaN         NaN         NaN
456210                 NaN  NaN  NaN  NaN         NaN         NaN         NaN
456211                 NaN  NaN  NaN  NaN         NaN         NaN         NaN
456213                 NaN  NaN  NaN  NaN         NaN         NaN         NaN
456214                 NaN  NaN  NaN  NaN         NaN         NaN         NaN
456215                 NaN  NaN  NaN  NaN  133373.475  130559.040  127537.695
456217                 NaN  NaN  NaN  NaN         NaN  137025.000  133683.345
456219                 NaN  NaN  NaN  NaN         NaN         NaN         NaN
456225                 NaN  NaN  NaN  NaN   69210.180   65030.310   60624.900
456233                 NaN  NaN  NaN  NaN         NaN         NaN         NaN
456235                 NaN  NaN  NaN  NaN         NaN         NaN         NaN
456236                 NaN  NaN  NaN  NaN   20556.270   40733.640   23870.745
456237                 NaN  NaN  NaN  NaN         NaN         NaN         NaN
456239                 NaN  NaN  NaN  NaN         NaN         NaN         NaN
456241                 NaN  NaN  NaN  NaN         NaN         NaN         NaN
456242                 NaN  NaN  NaN  NaN         NaN         NaN         NaN
456244                 NaN  NaN  NaN  NaN         NaN         NaN         NaN
456246                 NaN  NaN  NaN  NaN         NaN         NaN         NaN
456247                 NaN  NaN  NaN  NaN   92781.450   87163.245   85955.220
456248                 NaN  NaN  NaN  NaN         NaN         NaN         NaN
456250                 NaN  NaN  NaN  NaN         NaN         NaN         NaN

                                                   ...  SK_DPD_DEF            \
MONTHS_BALANCE        -93         -92         -91  ...        -10  -9   -8
SK_ID_CURR                                         ...
100006                 NaN         NaN         NaN ...         NaN  NaN  NaN
100011                 NaN         NaN         NaN ...         0.0  0.0  0.0
100013               0.000       0.000       0.000 ...         0.0  0.0  0.0
100021                 NaN         NaN         NaN ...         0.0  0.0  0.0
100023                 NaN         NaN         NaN ...         0.0  0.0  0.0
100028                 NaN         NaN         NaN ...         0.0  0.0  0.0
100036                 NaN         NaN         NaN ...         0.0  0.0  0.0
100042                 NaN         NaN         NaN ...         0.0  0.0  0.0
100043                 NaN         NaN         NaN ...         0.0  0.0  0.0
100047                 NaN         NaN         NaN ...         0.0  0.0  0.0
100048                 NaN         NaN         NaN ...         0.0  0.0  0.0
100049                 NaN         NaN         NaN ...         0.0  0.0  0.0
100050                 NaN         NaN         NaN ...         NaN  NaN  NaN
100059                 NaN         NaN         NaN ...         0.0  0.0  0.0
100066                 NaN         NaN         NaN ...         0.0  0.0  0.0
100067                 NaN         NaN         NaN ...         0.0  0.0  0.0
100075                 NaN         NaN         NaN ...         NaN  0.0  0.0
100077                 NaN         NaN         NaN ...         NaN  NaN  0.0
100082                 NaN         NaN         NaN ...         0.0  0.0  0.0
100083                 NaN         NaN         NaN ...         0.0  0.0  0.0
100086                 NaN         NaN         NaN ...         0.0  0.0  0.0
100090                 NaN         NaN         NaN ...         0.0  0.0  0.0
100100           70564.500   67414.500   55264.500 ...         0.0  0.0  0.0
100101                 NaN         NaN         NaN ...         0.0  0.0  0.0
100107                 NaN         NaN         NaN ...         0.0  0.0  0.0
100109                 NaN         NaN         NaN ...         0.0  0.0  0.0
100110                 NaN         NaN         NaN ...         NaN  NaN  NaN
100112                 NaN         NaN         NaN ...         0.0  0.0  0.0
100114                 NaN         NaN         NaN ...         NaN  NaN  NaN
100115                 NaN         NaN         NaN ...         NaN  NaN  NaN
...                    ...         ...         ... ...         ...  ...  ...
456173                 NaN         NaN         NaN ...         0.0  0.0  0.0
456178                 NaN         NaN         NaN ...         0.0  0.0  0.0
456186                 NaN         NaN         NaN ...         0.0  0.0  0.0
456188                 NaN         NaN         NaN ...         0.0  0.0  0.0
456189                 NaN         NaN         NaN ...         0.0  0.0  0.0
456195                 NaN         NaN         NaN ...         NaN  NaN  NaN
456198          181381.140  179453.250  175843.080 ...         0.0  0.0  0.0
456199                 NaN         NaN         NaN ...         NaN  NaN  NaN
456201                 NaN         NaN         NaN ...         NaN  NaN  NaN
456206                 NaN         NaN         NaN ...         0.0  0.0  0.0
456210                 NaN         NaN         NaN ...         0.0  0.0  0.0
456211                 NaN         NaN         NaN ...         NaN  NaN  NaN
456213                 NaN         NaN         NaN ...         0.0  0.0  0.0
456214                 NaN         NaN         NaN ...         NaN  NaN  NaN
456215          124488.180    2107.350       0.000 ...         0.0  0.0  0.0
456217          130975.380  128286.000  171421.020 ...         1.0  0.0  0.0
456219                 NaN         NaN         NaN ...         0.0  0.0  0.0
456225           70507.260   30989.025   64961.190 ...         0.0  0.0  1.0
456233                 NaN         NaN         NaN ...         0.0  0.0  0.0
456235                 NaN         NaN         NaN ...         0.0  0.0  0.0
456236             436.005       0.000       0.000 ...         0.0  0.0  0.0
456237                 NaN         NaN         NaN ...         0.0  0.0  0.0
456239                 NaN         NaN         NaN ...         0.0  0.0  0.0
456241                 NaN         NaN         NaN ...         0.0  0.0  0.0
456242                 NaN         NaN         NaN ...         NaN  NaN  0.0
456244                 NaN         NaN         NaN ...         0.0  0.0  0.0
456246                 NaN         NaN         NaN ...         NaN  0.0  0.0
456247          186025.230  183973.095  181794.915 ...         0.0  0.0  0.0
456248                 NaN         NaN         NaN ...         0.0  0.0  0.0
456250                 NaN         NaN         NaN ...         0.0  0.0  0.0


MONTHS_BALANCE -7   -6   -5   -4   -3   -2   -1
SK_ID_CURR
100006          NaN  0.0  0.0  0.0  0.0  0.0  0.0
100011          0.0  0.0  0.0  0.0  0.0  0.0  NaN
100013          0.0  0.0  0.0  0.0  0.0  0.0  0.0
100021          0.0  0.0  0.0  0.0  0.0  0.0  NaN
100023          0.0  0.0  0.0  0.0  NaN  NaN  NaN
100028          0.0  0.0  0.0  0.0  0.0  0.0  0.0
100036          0.0  0.0  0.0  0.0  0.0  0.0  NaN
100042          0.0  0.0  0.0  0.0  0.0  0.0  0.0
100043          0.0  0.0  0.0  0.0  0.0  0.0  0.0
100047          0.0  0.0  0.0  0.0  NaN  NaN  NaN
100048          0.0  0.0  0.0  0.0  0.0  0.0  0.0
100049          0.0  0.0  0.0  0.0  0.0  0.0  NaN
100050          0.0  0.0  0.0  0.0  0.0  0.0  0.0
100059          0.0  0.0  0.0  0.0  0.0  0.0  NaN
100066          0.0  0.0  0.0  0.0  0.0  0.0  0.0
100067          0.0  0.0  0.0  0.0  0.0  0.0  0.0
100075          0.0  0.0  0.0  0.0  0.0  0.0  NaN
100077          0.0  0.0  0.0  0.0  NaN  NaN  NaN
100082          0.0  0.0  0.0  0.0  0.0  0.0  NaN
100083          0.0  0.0  0.0  0.0  0.0  0.0  NaN
100086          0.0  0.0  0.0  0.0  0.0  0.0  0.0
100090          0.0  0.0  0.0  0.0  0.0  0.0  0.0
100100          0.0  0.0  0.0  0.0  0.0  0.0  0.0
100101          0.0  0.0  0.0  0.0  0.0  0.0  0.0
100107          0.0  0.0  0.0  0.0  0.0  0.0  0.0
100109          0.0  0.0  0.0  0.0  NaN  NaN  NaN
100110          NaN  NaN  0.0  0.0  0.0  0.0  0.0
100112          0.0  0.0  0.0  0.0  NaN  NaN  NaN
100114          0.0  0.0  0.0  0.0  0.0  0.0  0.0
100115          NaN  NaN  NaN  NaN  NaN  0.0  NaN
...             ...  ...  ...  ...  ...  ...  ...
456173          0.0  0.0  0.0  0.0  0.0  0.0  NaN
456178          0.0  0.0  0.0  0.0  0.0  0.0  NaN
456186          0.0  0.0  0.0  0.0  0.0  0.0  NaN
456188          0.0  0.0  0.0  0.0  0.0  NaN  NaN
456189          0.0  0.0  0.0  0.0  0.0  0.0  0.0
456195          NaN  NaN  0.0  0.0  0.0  0.0  NaN
456198          0.0  0.0  0.0  0.0  0.0  0.0  0.0
456199          0.0  0.0  0.0  0.0  0.0  0.0  0.0
456201          NaN  NaN  NaN  0.0  0.0  0.0  0.0
456206          0.0  0.0  0.0  0.0  0.0  0.0  0.0
456210          0.0  0.0  0.0  0.0  0.0  0.0  NaN
456211          NaN  NaN  NaN  NaN  NaN  0.0  NaN
456213          0.0  0.0  0.0  0.0  0.0  0.0  NaN
456214          NaN  NaN  0.0  0.0  0.0  0.0  0.0
456215          0.0  0.0  0.0  0.0  0.0  NaN  NaN
456217          0.0  0.0  0.0  0.0  1.0  0.0  0.0
456219          0.0  0.0  0.0  0.0  0.0  0.0  0.0
456225          0.0  0.0  0.0  0.0  0.0  0.0  0.0
456233          0.0  0.0  0.0  0.0  0.0  0.0  0.0
456235          0.0  0.0  0.0  0.0  0.0  0.0  NaN
456236          0.0  0.0  0.0  0.0  0.0  NaN  NaN
456237          0.0  0.0  0.0  0.0  0.0  0.0  0.0
456239          0.0  0.0  0.0  0.0  0.0  NaN  NaN
456241          0.0  0.0  0.0  0.0  0.0  0.0  NaN
456242          0.0  0.0  0.0  0.0  0.0  0.0  0.0
456244          0.0  0.0  0.0  0.0  0.0  0.0  0.0
456246          0.0  0.0  0.0  0.0  0.0  0.0  NaN
456247          0.0  0.0  0.0  0.0  0.0  0.0  NaN
456248          0.0  0.0  0.0  0.0  0.0  0.0  NaN
456250          0.0  0.0  0.0  0.0  0.0  0.0  0.0

[103558 rows x 1900 columns]

------

*3d sparse matrix*

In [6]:
sk_ids = app_ix.values[:20]
sk_ids

array([100002, 100003, 100004, 100006, 100007, 100008, 100009, 100010,
       100011, 100012, 100014, 100015, 100016, 100017, 100018, 100019,
       100020, 100021, 100022, 100023], dtype=int64)

In [7]:
credit_card_balance = credit_card_balance[credit_card_balance['SK_ID_CURR'].isin(sk_ids)]

In [15]:
sparse_summary = (credit_card_balance
                  .append(missing_df)
                  .drop(['SK_ID_PREV'], axis=1)
                  .groupby(['SK_ID_CURR', 'MONTHS_BALANCE'])
                  .sum().unstack().stack(dropna=False).stack(dropna=False)
                  .to_sparse())

In [19]:
dense_df = sparse_summary.to_dense()

In [39]:
dense_df.index.get_level_values(dense_df.index.names[0]).unique()

Int64Index([100002, 100003, 100004, 100006, 100007, 100008, 100009, 100010,
            100011, 100012,
            ...
            456238, 456240, 456243, 456245, 456249, 456251, 456252, 456253,
            456254, 456255],
           dtype='int64', name='SK_ID_CURR', length=220610)

In [40]:
import numpy as np

dense_df.unstack().values[:, :, np.newaxis].shape

(220610, 1425, 1)

In [42]:
dense_df.head().T

SK_ID_CURR                 100002
MONTHS_BALANCE                -75 -74 -73 -72 -71
AMT_BALANCE                   NaN NaN NaN NaN NaN
AMT_CREDIT_LIMIT_ACTUAL       NaN NaN NaN NaN NaN
AMT_DRAWINGS_ATM_CURRENT      NaN NaN NaN NaN NaN
AMT_DRAWINGS_CURRENT          NaN NaN NaN NaN NaN
AMT_DRAWINGS_OTHER_CURRENT    NaN NaN NaN NaN NaN
AMT_DRAWINGS_POS_CURRENT      NaN NaN NaN NaN NaN
AMT_INST_MIN_REGULARITY       NaN NaN NaN NaN NaN
AMT_PAYMENT_CURRENT           NaN NaN NaN NaN NaN
AMT_PAYMENT_TOTAL_CURRENT     NaN NaN NaN NaN NaN
AMT_RECEIVABLE_PRINCIPAL      NaN NaN NaN NaN NaN
AMT_RECIVABLE                 NaN NaN NaN NaN NaN
AMT_TOTAL_RECEIVABLE          NaN NaN NaN NaN NaN
CNT_DRAWINGS_ATM_CURRENT      NaN NaN NaN NaN NaN
CNT_DRAWINGS_CURRENT          NaN NaN NaN NaN NaN
CNT_DRAWINGS_OTHER_CURRENT    NaN NaN NaN NaN NaN
CNT_DRAWINGS_POS_CURRENT      NaN NaN NaN NaN NaN
CNT_INSTALMENT_MATURE_CUM     NaN NaN NaN NaN NaN
SK_DPD                        NaN NaN NaN NaN NaN
SK_DPD_DEF                    NaN NaN NaN NaN NaN

In [57]:
import scipy

scipy.sparse.csr_matrix(dense_df)

<1x314369250 sparse matrix of type '<class 'numpy.float64'>'
	with 310176200 stored elements in Compressed Sparse Row format>

In [20]:
# create an empty array of NaN of the right dimensions
shape = list(map(len, dense_df.index.levels))
arr = np.full(shape, np.nan)

# fill it using Numpy's advanced indexing
arr[dense_df.index.labels] = dense_df.values.flat

In [8]:
import pandas as pd

# read cc balance csv and full list of id values
credit_card_balance = pd.read_csv('data/credit_card_balance.csv')
sk_ids = None
#app_ix = self.applications_train_index()

if sk_ids is None:
    sk_ids = app_ix.values
credit_card_balance = credit_card_balance[credit_card_balance['SK_ID_CURR'].isin(sk_ids)]

# fill missing id values
missing_ids = app_ix[~app_ix.isin(credit_card_balance['SK_ID_CURR'].unique())].values
missing_df = pd.DataFrame({'SK_ID_CURR': missing_ids})
missing_df['MONTHS_BALANCE'] = -1

# mix it all around
logging.debug('Preparing credit card balance data...')
cc_ts_summary = (credit_card_balance
                 .append(missing_df)
                 .drop(['SK_ID_PREV'], axis=1)
                 .groupby(['SK_ID_CURR', 'MONTHS_BALANCE']).sum()
                 .unstack().stack(dropna=False)
                 .to_sparse())

2018-06-28 11:38:57,769 - DEBUG - Preparing credit card balance data...

In [9]:
import numpy as np

# create an empty array of NaN of the right dimensions
shape = list(map(len, cc_ts_summary.index.levels))
arr = np.full(shape, np.nan)

# fill it using Numpy's advanced indexing
arr[cc_ts_summary.index.labels] = cc_ts_summary.to_dense().values.flat

ValueError: shape mismatch: value array of shape (560900064,) could not be broadcast to indexing result of shape (29521056,)

In [24]:
arr.shape

(220610, 75, 19)

In [26]:
cc_id_index = sparse_summary.index.get_level_values(sparse_summary.index.names[0]).unique()
cc_id_index

Int64Index([100002, 100003, 100004, 100006, 100007, 100008, 100009, 100010,
            100011, 100012,
            ...
            456238, 456240, 456243, 456245, 456249, 456251, 456252, 456253,
            456254, 456255],
           dtype='int64', name='SK_ID_CURR', length=220610)

In [21]:
dense_df.index.labels, sparse_summary.index.labels

(FrozenList([[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 5, 5, 5, 5, 5, ...], [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 0, 1, 2, 3, 4, ...]]),
 FrozenList([[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 5, 5, 5, 5, 5, ...], [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 0, 1, 2, 3, 4, ...]]))

In [45]:
dense_df.values.flat

In [46]:
list(map(len, sparse_summary.index.levels))

[220610, 75]

In [49]:
sparse_summary.index.labels

FrozenList([[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...], [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, ...]])

In [56]:
arr.shape

(220610, 75, 19)

In [28]:
arr.nbytes

2514954000

--------

*2d sparse matrix*

In [2]:
import pandas as pd
import numpy as np
import logging
from prepare_data import HCDRLoader

logging.basicConfig(level=logging.DEBUG, format='%(asctime)s - %(levelname)s - %(message)s')

In [3]:
loader = HCDRLoader()
app_ix = loader.applications_train_index()

2018-07-06 11:36:31,079 - DEBUG - Initializing data loader
2018-07-06 11:36:31,087 - DEBUG - Reading application_train.csv...
2018-07-06 11:36:36,479 - DEBUG - Finished reading application_train.csv
2018-07-06 11:36:36,480 - DEBUG - Loading bureau data...
2018-07-06 11:36:44,686 - DEBUG - Loading previous application data...
2018-07-06 11:37:18,548 - DEBUG - Done

In [4]:
# read cc balance csv and full list of id values
logging.debug('Reading credit card balance file...')
credit_card_balance = pd.read_csv('data/credit_card_balance.csv')

sk_ids = app_ix.values
credit_card_balance = credit_card_balance[credit_card_balance['SK_ID_CURR'].isin(sk_ids)]

# fill missing id values
missing_ids = app_ix[~app_ix.isin(credit_card_balance['SK_ID_CURR'].unique())].values
missing_df = pd.DataFrame({'SK_ID_CURR': missing_ids})
missing_df['MONTHS_BALANCE'] = -1

2018-07-06 11:37:18,560 - DEBUG - Reading credit card balance file...

In [7]:
# mix it all around
logging.debug('Preparing credit card balance data...')
cc_ts_summary = (credit_card_balance
                 .append(missing_df)
                 .drop(['SK_ID_PREV'], axis=1)
                 .groupby(['SK_ID_CURR', 'MONTHS_BALANCE']).sum()
                 .unstack().stack(dropna=False).stack(dropna=False)
                 .to_sparse())

2018-07-05 22:22:13,103 - DEBUG - Reading credit card balance file...
2018-07-05 22:22:35,157 - DEBUG - Preparing credit card balance data...

In [8]:
cc_ts_summary.head()

SK_ID_CURR  MONTHS_BALANCE
100002      -96             AMT_BALANCE                  NaN
                            AMT_CREDIT_LIMIT_ACTUAL      NaN
                            AMT_DRAWINGS_ATM_CURRENT     NaN
                            AMT_DRAWINGS_CURRENT         NaN
                            AMT_DRAWINGS_OTHER_CURRENT   NaN
dtype: float64
BlockIndex
Block locations: array([], dtype=int32)
Block lengths: array([], dtype=int32)

In [9]:
shape = list(map(len, cc_ts_summary.index.levels))
shape

[307511, 96, 19]

In [ ]:
# create a numpy array
shape = list(map(len, cc_ts_summary.index.levels))
arr = np.full(shape, np.nan)
arr[cc_ts_summary.index.labels] = cc_ts_summary.to_dense().values.flat

# track index of numpy array
cc_id_index = cc_ts_summary.index.get_level_values(cc_ts_summary.index.names[0]).unique()

logging.debug('Done')

In [7]:
lo_dim_df = (credit_card_balance
            .append(missing_df)
            .drop(['SK_ID_PREV'], axis=1)
            .groupby(['SK_ID_CURR', 'MONTHS_BALANCE']).sum()
            .unstack())

In [8]:
lo_dim_df.head()

               AMT_BALANCE                                     ...   \
MONTHS_BALANCE         -96 -95 -94 -93 -92 -91 -90 -89 -88 -87 ...
SK_ID_CURR                                                     ...
100002                 NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN ...
100003                 NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN ...
100004                 NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN ...
100006                 NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN ...
100007                 NaN NaN NaN NaN NaN NaN NaN NaN NaN NaN ...

               SK_DPD_DEF
MONTHS_BALANCE        -10 -9  -8  -7   -6   -5   -4   -3   -2   -1
SK_ID_CURR
100002                NaN NaN NaN NaN  NaN  NaN  NaN  NaN  NaN  0.0
100003                NaN NaN NaN NaN  NaN  NaN  NaN  NaN  NaN  0.0
100004                NaN NaN NaN NaN  NaN  NaN  NaN  NaN  NaN  0.0
100006                NaN NaN NaN NaN  0.0  0.0  0.0  0.0  0.0  0.0
100007                NaN NaN NaN NaN  NaN  NaN  NaN  NaN  NaN  0.0

[5 rows x 1824 columns]

In [10]:
lo_dim_df.index

Int64Index([100002, 100003, 100004, 100006, 100007, 100008, 100009, 100010,
            100011, 100012,
            ...
            456245, 456246, 456247, 456248, 456249, 456251, 456252, 456253,
            456254, 456255],
           dtype='int64', name='SK_ID_CURR', length=307511)

In [6]:
import scipy

cc_sparse_array = scipy.sparse.csr_matrix(lo_dim_df.fillna(0).values)

In [7]:
cc_sparse_array.shape

(29521056, 19)

In [22]:
t_max = -credit_card_balance['MONTHS_BALANCE'].min()

96